<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DoggySite</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="static/style.css">
</head>
<body>
    <article>
        <header>
          <h1>DoggySite</h1>
        </header>


        <nav>
            <a href="#" class="active">Home</a>
            <div class="dropdown">
                <button class="drop-btn">Info
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="#">Facts</a>
                    <a href="#">Advices</a>
                    <div class="dropdown-inner">
                        <button class="drop-btn-inner">Breeds
                            <i class="fa fa-caret-down"></i>
                        </button>
                        <div class="dropdown-content-inner">
                            <a href="#">Doberman</a>
                            <a href="#">Basset Hound</a>
                            <a href="#">Bloodhound</a>
                            <a href="#"> Yorkshire terrier</a>
                        </div>
                    </div>
                </div>
            </div>
            <a href="#">Forum</a>
            <a href="#">Gallery</a>
        </nav>
        <main>
            <aside>
                <ul>
                    <li><a href="#" class="active">Doberman</a></li>
                    <li><a href="#">Basset Hound</a></li>
                    <li><a href="#">Bloodhound</a></li>
                    <li><a href="#"> Yorkshire terrier</a></li>
                </ul>
            </aside>
            <div class="main-content">
                <h2>This site is created for:</h2>
                <h3>Getting to know the dogs</h3>
                <h3>Introduction to the different breeds</h3>
                <h3>Share your experience and funny stories in our forum</h3>
            </div>
        </main>

        <footer>
            <h2>This site is not for cat lovers!</h2>
        </footer>
    </article>
</body>
</html>
